// Import fonts

@font-face {
font-family: 'Proxima Nova';
src: url("/fonts/proxima/ProximaNova-Light.otf");
font-weight:100;
}

@font-face {
font-family: 'Proxima Nova';
src: url("/fonts/proxima/ProximaNova-Regular.otf");
font-weight:300;
}

@font-face {
font-family: 'Proxima Nova';
src: url("/fonts/proxima/ProximaNova-Bold.otf");
font-weight:700;
}

@font-face {
font-family: 'Proxima Nova';
src: url("/fonts/proxima/ProximaNova-Black.otf");
font-weight:800;
}

@font-face {
font-family: 'FuturaLT';
src: url("/fonts/futura/FuturaLT-Light.ttf");
font-weight:100;
}

@font-face {
font-family: 'FuturaLT';
src: url("/fonts/futura/FuturaLT.ttf");
font-weight: 300;
}

@font-face {
font-family: 'FuturaLT';
src: url("/fonts/futura/FuturaLT-Bold.ttf");
font-weight: 700;
}

@font-face {
font-family: 'FuturaLT';
src: url("/fonts/futura/FuturaLT-ExtraBold.ttf");
font-weight: 800;
}

a {
    color: darken(rgb(115,247,207), 30%);
    text-decoration: none !important;
    &:hover{
	    text-decoration: none !important;
	    color: rgb(115,247,207);
    }
}

// body, html{
// 	width:100%;
// 	// height:100%;
// 	position:relative;
// 	height:100%;
// }

body{
	background-color:rgb(250,250,250);
	// border-top:5px solid rgb(230,230,228);
	border-top:3px solid black;
	position:relative;
	min-height:100vh;
}

#post-title{
	font-family:"FuturaLT";
	// font-family: "lmroman10-bold";
	font-weight:700;
	font-size:1.8em;
	letter-spacing:2px;
	color: black;
	text-align:left;

}

#post-date{
	// text-align:center;
	font-style:italic;
}

#post-content{
	width:600px;
	margin:0 auto;
	font-family: "Proxima Nova";
	// color: rgb(100,100,100);
	font-weight:100;
	// letter-spacing:0.5px;
	line-height:1.5em;
	font-size:1.1em;
	// font-siz
	padding-bottom: 50px;
}

#post-content em{
	font-style:'italic';
}

#post-content img{
	width:800px !important;
	margin: 20px 0 20px -100px;
	height: 200px !important;
}

#post-content h2{
	font-family:"FuturaLT";
	// font-family: "lmroman10-bold";

	text-transform: uppercase;
	font-size:1.1em;
	letter-spacing:2px;
	font-weight:700;
	margin: 50px 0 20px 0;
	color:black;
}

p{
	margin: 18px 0 18px 0;
}

h1{
	// border-top:1px solid rgb(200,200,200);
	padding: 20px 0 10px 0;
	// border-bottom:3px solid rgb(230,230,230);
	text-align: center;

}

#navbar{
	position:absolute;
	top:0px;
	right:50px;

	div{
		cursor: pointer;
		display:inline-block;
		margin:5px;
		font-size:1.3em;
		font-family:"FuturaLT";
		font-family: "Proxima Nova";
		font-weight:800;
		letter-spacing:1px;
		text-transform: uppercase;
		color: black;
		i{
			color: black !important;	
		}
		&:hover{
		}
		a{
			color: black;
			&:hover{
				color: rgb(115,247,207);
			}
		}
	}
}

#cover{
	width:500px;
	height:40px;
	background-color:black;
}

pre{
	border:0px solid black;
	border-radius:0;
	background-color: rgb(240,240,240);
	margin: 10px 0 10px 0;
}

th, td{
	padding-right: 15px;
}

footer{
	margin-right: 50px;
	text-align:right;
	width:100%;
	bottom: 10px;
	right: 0px;
	font-weight: 600;
	font-family: "futuraLT";
	position:absolute;
	font-size:0.8em;
	a{
		color: black;
	}

}

#caption{
  position:absolute;
  bottom:0px;
  right:10px;
  font-family:"FuturaLT";
  font-size: 20px;
  font-weight:400;
  letter-spacing: 3px;
  line-height:0px;
  text-transform: uppercase;
  color: rgb(180,180,180);
  color:black;


}

code{
	background-color: rgb(245,245,245) ;
	color:rgb(150,150,150) ;
}

table{
	padding: 20px !important;
}

#toctitle, #tocdate{
	display:inline-block;
	margin:0px !important;
}
h2#toctitle{
	font-family:"FuturaLT";
	font-weight:600;
	padding-bottom: 0px;
	margin:0px;
	margin-top:30px !important;
	font-size:1em;
}
#tocdate{
	font-size:1em;
	font-family:"Proxima Nova";
	font-weight:400;
	padding-left:10px;


}

.toc p{
	padding : 0px;
	margin:5px 0 5px 0 ;
}