@font-face {
  font-family: 'Proxima Nova';
  src: url("/fonts/proxima/ProximaNova-Light.otf");
  font-weight: 100;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("/fonts/proxima/ProximaNova-Regular.otf");
  font-weight: 300;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("/fonts/proxima/ProximaNova-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("/fonts/proxima/ProximaNova-Black.otf");
  font-weight: 800;
}
@font-face {
  font-family: 'FuturaLT';
  src: url("/fonts/futura/FuturaLT-Light.ttf");
  font-weight: 100;
}
@font-face {
  font-family: 'FuturaLT';
  src: url("/fonts/futura/FuturaLT.ttf");
  font-weight: 300;
}
@font-face {
  font-family: 'FuturaLT';
  src: url("/fonts/futura/FuturaLT-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: 'FuturaLT';
  src: url("/fonts/futura/FuturaLT-ExtraBold.ttf");
  font-weight: 800;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\0000351}}
a {
  color: #0bc68d;
  text-decoration: none !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\0000354}}
a:hover {
  text-decoration: none !important;
  color: #73f7cf;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\0000362}}
body {
  background-color: #fafafa;
  border-top: 3px solid black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\0000368}}
#post-title {
  font-family: "FuturaLT";
  font-weight: 700;
  font-size: 1.8em;
  letter-spacing: 2px;
  color: black;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\0000379}}
#post-date {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\0000384}}
#post-content {
  width: 600px;
  margin: 0 auto;
  font-family: "Proxima Nova";
  font-weight: 400;
  line-height: 1.5em;
  font-size: 1.1em;
  padding-bottom: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\0000397}}
#post-content em {
  font-style: 'italic';
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003101}}
#post-content img {
  width: 800px !important;
  margin: 20px 0 20px -100px;
  height: 200px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003107}}
#post-content h2 {
  font-family: "FuturaLT";
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 50px 0 20px 0;
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003119}}
p {
  margin: 18px 0 18px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003123}}
h1 {
  padding: 20px 0 10px 0;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003131}}
#navbar {
  position: absolute;
  top: 0px;
  right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003136}}
#navbar div {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  font-size: 1.2em;
  font-family: "FuturaLT";
  font-family: "Proxima Nova";
  font-weight: 900;
  text-transform: uppercase;
  color: #e6e6e4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003146}}
#navbar div:hover {
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003149}}
#navbar div a {
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003155}}
#cover {
  width: 500px;
  height: 40px;
  background-color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003161}}
pre {
  border: 0px solid black;
  border-radius: 0;
  background-color: #f0f0f0;
  margin: 10px 0 10px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003168}}
th, td {
  padding-right: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003172}}
footer {
  padding: 50px 20px 10px 10px;
  margin-right: 20px;
  text-align: right;
  color: black;
  width: 100%;
  font-weight: 600;
  font-family: "futuraLT";
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003185}}
#caption {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-family: "FuturaLT";
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 3px;
  line-height: 0px;
  text-transform: uppercase;
  color: #b4b4b4;
}
