@font-face {
  font-family: 'Proxima Nova';
  src: url("/fonts/proxima/ProximaNova-Light.otf");
  font-weight: 100;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("/fonts/proxima/ProximaNova-Regular.otf");
  font-weight: 300;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("/fonts/proxima/ProximaNova-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("/fonts/proxima/ProximaNova-Black.otf");
  font-weight: 800;
}
@font-face {
  font-family: 'FuturaLT';
  src: url("/fonts/futura/FuturaLT-Light.ttf");
  font-weight: 100;
}
@font-face {
  font-family: 'FuturaLT';
  src: url("/fonts/futura/FuturaLT.ttf");
  font-weight: 300;
}
@font-face {
  font-family: 'FuturaLT';
  src: url("/fonts/futura/FuturaLT-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: 'FuturaLT';
  src: url("/fonts/futura/FuturaLT-ExtraBold.ttf");
  font-weight: 800;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\0000351}}
a {
  color: #0bc68d;
  text-decoration: none !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\0000354}}
a:hover {
  text-decoration: none !important;
  color: #73f7cf;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\0000367}}
body {
  background-color: #fafafa;
  border-top: 3px solid black;
  position: relative;
  min-height: 100vh;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\0000375}}
#post-title {
  font-family: "FuturaLT";
  font-weight: 700;
  font-size: 1.8em;
  letter-spacing: 2px;
  color: black;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\0000386}}
#post-date {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\0000391}}
#post-content {
  width: 600px;
  margin: 0 auto;
  font-family: "Proxima Nova";
  font-weight: 400;
  line-height: 1.5em;
  font-size: 1.1em;
  padding-bottom: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003104}}
#post-content em {
  font-style: 'italic';
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003108}}
#post-content img {
  width: 800px !important;
  margin: 20px 0 20px -100px;
  height: 200px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003114}}
#post-content h2 {
  font-family: "FuturaLT";
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 50px 0 20px 0;
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003126}}
p {
  margin: 18px 0 18px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003130}}
h1 {
  padding: 20px 0 10px 0;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003138}}
#navbar {
  position: absolute;
  top: 0px;
  right: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003143}}
#navbar div {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  font-size: 1.3em;
  font-family: "FuturaLT";
  font-family: "Proxima Nova";
  font-weight: 800;
  text-transform: uppercase;
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003153}}
#navbar div i {
  color: black !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003156}}
#navbar div:hover {
  color: #73f7cf !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003159}}
#navbar div a {
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003165}}
#cover {
  width: 500px;
  height: 40px;
  background-color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003171}}
pre {
  border: 0px solid black;
  border-radius: 0;
  background-color: #f0f0f0;
  margin: 10px 0 10px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003178}}
th, td {
  padding-right: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003182}}
footer {
  margin-right: 50px;
  text-align: right;
  color: black;
  width: 100%;
  bottom: 10px;
  right: 0px;
  font-weight: 600;
  font-family: "futuraLT";
  position: fixed;
  font-size: 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/milan\/Documents\/blog\/sass\/main\.scss}line{font-family:\00003196}}
#caption {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-family: "FuturaLT";
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 3px;
  line-height: 0px;
  text-transform: uppercase;
  color: #b4b4b4;
}
