---
layout: default
---

{% include header.html %}

<div class="row-fluid">
  <div class="span8" id='post-content'>

<h1 id='post-title'>Thoughts on Art and Code</h1>

<br>
<hr>
<br>

{% for post in site.posts limit: 10 %}

<div class="row-fluid">
  <div class="span12 toc">
    <h2 id='toctitle'>{{ post.title }}</h2> <h3 id='tocdate'>{{ post.date | date_to_long_string }}</h3>
    {{ post.excerpt }} <a href="{{ post.url }}" style='padding-top:0px; margin-top:0px;'>More plz.</a> 
  </div>
</div>

{% endfor %}

  </div>
  </div>
{% include footer.html %}
