---
layout: default
---

{% include header.html %}

<div class="row-fluid">
  <div class="span8" id='post-content'>

<h1 id='post-title'>Thoughts on Art and Code</h1>

<br>
<hr>
<br>

{% for post in site.posts limit: 10 %}

<div class="row-fluid">
  <div class="span12">
    <span id='tocdate'>{{ post.date | date_to_long_string }}</span><span id='toctitle'>{{ post.title }}</span>
    <p>
    {{ post.excerpt }} <a href="{{ post.url }}">Read Post</a>
    </p>
  </div>
</div>


{% endfor %}

  </div>
  </div>
{% include footer.html %}
